# Folders and settings
/bin
/Release
/Debug
/Default
/__pycache__
/.settings
/.project
/.cproject
/.pydevproject
/.issues

# Executables
*.exe
*.out
*.app

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# System caches
*.DS_Store
[Tt]humbs.db
